body,
#wrapper {
  background: #fff;
  direction: rtl;
  font-family: Vazir;
}
#wrapper,
#avatar {
  margin: 0 auto;
}
#logo {
  text-align: center;
}
header {
  padding: 30px 0;
}
header ul.menu {
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
}
header ul.menu li.menu-item.current_page_item {
  border-top: 2px solid rgb(138, 43, 226);
}
header ul.menu>li {
  display: inline-block;
  position: relative;
  padding: 8px 10px;
  margin: 3px 10px;
  transition: all ease-in-out 150ms;
  text-align: center;
}
header ul.menu li:hover {
  color: rgb(138, 43, 226);
  transition: all ease-in-out 150ms;
  cursor: pointer;
}
header li.menu-item:hover ul.sub-menu {
  display: block;
}
ul.sub-menu li {
  list-style: none;
  margin: 10px 0;
}
ul.sub-menu {
  display: none;
  position: absolute;
  background: rgb(13 110 253 / 75%);
  border-bottom: 1px solid #222;
  z-index: 6;
  right: 0;
  top: 98%;
  padding: 0;
  width: 170px;
}
ul.menu>li {
  border-top: 2px solid transparent;
}
ul.menu>li:hover {
  border-top: 2px solid;
}
.menu>li.menu-item-has-children:hover::before {
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background: white;
  content: '';
  bottom: -5px;
  right: 15px;
  position: absolute;
  z-index: 10;
}
ul.sub-menu li.menu-item-has-children ul.sub-menu {
  top: 0;
  display: none;
  border-bottom: 1px solid #222;
  transform: translateX(-50%);
  right: 50%;
}
ul.sub-menu li.menu-item-has-children:hover ul.sub-menu {
  display: block;
}
aside {
  background: rgb(233, 233, 233);
  float: right;
  border-radius: 8px;
  z-index: 2;
  margin-bottom: 20px;
}
aside div {
  text-align: center;
}
#avatar img {
  border-radius: 50%;
}
#avatar img:hover {
  animation: shake 0.3s 10;
}
aside ul {
  display: flex;
  list-style: none;
  margin: 30% auto;
  justify-content: space-evenly;
}
aside ul svg {
  margin: 0 5px;
}
aside ul svg:hover {
  animation: pulse 600ms infinite;
}
aside #biography {
  font-size: 14px;
  text-align: justify;
}
#facebook {
  transition: all ease-in-out 500ms;
}
#facebook:hover {
  color: blue;
  transition: all ease-in-out 700ms;
}
#twitter {
  transition: all ease-in-out 500ms;
}
#twitter:hover {
  color: steelblue;
  transition: all ease-in-out 700ms;
}
#linkedin {
  transition: all ease-in-out 500ms;
}
#linkedin:hover {
  color: blue;
  transition: all ease-in-out 700ms;
}
#instagram {
  transition: all ease-in-out 500ms;
}
#instagram:hover {
  color: orangered;
  transition: all ease-in-out 700ms;
}
main {
  float: left;
  padding: 0 36px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
article {
  background: #eee !important;
  box-shadow: -1px -1px 32px #dfdfdf;
  z-index: 4;
  width: 30% !important;
  padding: 8px;
  border: 1px solid rgba(0,0,0,.125) !important;
  display: inline-flex !important;
  margin-bottom: 10px;
}
article .card-text div {
  font-size: 12px;
  display: block;
}
article h5 {
  color: rgb(255, 255, 255);
}
article p {
  font-size: 14px;
  vertical-align: baseline;
}
main article p {
  color: #666;
}
article #post-info-wrapper {
  color: rgb(235, 235, 235);
  background: rgba(100, 100, 100, 0.85);
  width: 100%;
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 12px;
  margin-bottom: 30px;
}
article a.btn {
  float: left;
  position: absolute;
  left: 0;
  bottom: 0;
}
.card-title a {
    color: #eee !important;
    text-decoration: none !important;
}
footer {
  display: flex;
}
footer p {
  font-size: 15px;
}
footer #widget {
  max-width: 30%;
  margin: 70px 5px;
  padding: 25px;
  list-style: none;
}
footer #widget:nth-child(1),
footer #widget:nth-child(2) {
  border-left: 1px solid #bebebe;
}
#copyright {
  margin: 40px 0;
}

/* single post */
#blog-full .card-text span {
  margin-left: 15px;
}
#blog-full {
  position: relative;
  padding: 10px 20px;
  margin-top: 0%;
  width: 100% !important;
  background: none !important;
  box-shadow: none;
  flex-flow: row wrap;
}
#blog-full img {
  position: absolute;
  left: 0;
  right: auto;
  width: auto;
  z-index: 5;
  transform: none;
  border-radius: 2px;
  box-shadow: 3px 3px 12px #eee
}
#blog-full .post-title {
  margin-bottom: 30px;
}
#blog-full span {
  margin-left: 10px;
  background: #eee;
  padding: 6px 15px;
  border-radius: 5px;
}

/* comments */
#respond { 
  background: #fbfbfb;
  padding:0 10px 0 10px;
  }
    
/* Highlight active form field */
    
#respond input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
      
#respond input[type=text]:focus,
input[type=email]:focus, 
input[type=url]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  margin: 5px 1px 3px 0px;
  border: 2px solid rgba(81, 203, 238, 1);
}
#author, #email { 
  font-style:italic;
  color:#1d1d1d; 
  letter-spacing:.1em;
} 
#url  { 
  color: #1d1d1d;
}
.comment-form p {
  display: flex;
  flex-flow: column wrap;
}
/* fixing comments */  
ol.commentlist{
  padding: 30px;
}
li.comment {
  padding: 10px 12px;
  border-radius: 8px;
  border-bottom: 2px solid blue;
  margin: 25px 0;
  list-style: none;
  position: relative;
}
li.comment.even {
    background: aliceblue;
}
li.comment.odd {
    background: #fff;
}
div.reply {
    top: 0;
    position: absolute;
    left: 0;
}
div.reply a {
    background: #31d031;
    padding: 6px 12px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;
    float: left;

}
.children .comment-body {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
}
.comment-author img {
    border-radius: 50%;
}

/* comment submit button */
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
#submit {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  width: 48%;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#submit:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}


/* 404 page */
.page-404 {
  justify-content: center;
}
.page-404 h3 {
  font-size: 92px;
  color: #222;
}
.page-404 .row div {
  align-self: center;
  color: #444;
}
.page-404 #searchbox {
  position: relative;
}
.page-404 #searchfield {
  padding: 5px 12px;
  border: 1px solid #666;
  border-radius: 8px;
}
.page-404 #searchbox button {
  width: 8%;
  position: absolute;
  left: 0;
  background: transparent;
  height: 100%;
  border: none;
  border-right: 1px solid #999;
}

/* reset */
img.wp-post-image {
    transform: translateX(-50%);
}

/* bootstrap reset */
hr {
  opacity: 0.1;
}
input[type="checkbox"] {
  float: right !important;
  margin-left: auto !important;
}
.card {
  border-radius: 0.75rem !important;
  overflow: hidden;
}
.card-body {
  position: relative;
}
/* @media (min-width: 1200px){
    aside.col-lg-2 {
    width: 21% !important;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 21%;
  }
} */
@media (max-width: 767px){
  main {
    justify-content: center;
  }
  main article {
    width: 100% !important;
    height: 30%;
    margin: 20px 0;
  }
  footer {
    flex-direction: column;
  }
  footer #widget {
    max-width: 100%;
    border-left: none !important;
    border-top: 1px solid #bebebe;
  }
}
/* fontawesome reset */
svg.fa-clipboard {
  margin: 0 2px;
}
aside ul svg {
  font-size: 1.5em
}

/* wp reset */
.post-categories {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.post-categories li {
  display: inline-block;
  padding: 2px 3px;
  text-decoration: none;
}
.post-categories li a {
  text-decoration: none;
  color: rgba(235, 235, 235, 0.75);
}
img.wp-post-image {
  left: 50%;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
a, #menu a {
    color: #222 !important;
    text-decoration: none !important;
}

/* animations */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
}
